<!-- Content Header (Page header) -->
<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Personal</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active">Personal</li>
        </ol>
      </div>
    </div>
  </div>
  <!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
  <!-- Default box -->
  <div class="container-fluid">
    <div class="card">
      <div class="card-header">
        <button
          class="btn btn-secondary col-md-2"
          type="submit"
          [routerLink]="['/institucion/list']"
        >
          Cancelar
        </button>

        <div class="card-tools">
          <button
            type="button"
            class="btn btn-tool"
            data-widget="collapse"
            data-toggle="tooltip"
            title="Collapse"
          >
            <i class="fa fa-minus"></i>
          </button>
          <button
            type="button"
            class="btn btn-tool"
            data-widget="remove"
            data-toggle="tooltip"
            title="Remove"
          >
            <i class="fa fa-times"></i>
          </button>
        </div>
      </div>
      <div class="card-body">
        <div class="container">
          <form>
            <h2><p>Datos Personales</p></h2>
            <hr />
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputEmail4">Nombres</label>
                <input
                  type="text"
                  class="form-control"
                  [(ngModel)]="personal.nombPers"
                  name="nombPers"
                  id="inputEmail4"
                  required
                />
                <label for="inputPassword4">Apellido Materno</label>
                <input
                  type="text"
                  class="form-control"
                  [(ngModel)]="personal.apelMatePers"
                  name="apelMatePers"
                  id="inputPassword4"
                  required
                />
                
              </div>

              <div class="form-group col-md-6">
                <label for="inputPassword4">Apellido Paterno</label>
                <input
                  type="text"
                  class="form-control"
                  [(ngModel)]="personal.apelPatePers"
                  name="apelPatePers"
                  id="inputPassword4"
                  required
                />
                
                <label for="inputEmail4">DNI</label>
                <input
                  type="text"
                  class="form-control"
                  [(ngModel)]="personal.dniPers"
                  name="dniPers"
                  id="inputnumber"
                  required
                />

              </div>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="inputGroupFileAddon01"
                    >Subir</span
                  >
                </div>
                <div class="custom-file">
                  <input
                    type="file"
                    class="custom-file-input"
                    id="inputGroupFile01"
                    aria-describedby="inputGroupFileAddon01"
                  />
                  <label class="custom-file-label" for="inputGroupFile01"
                    >Subir Fotografia</label
                  >
                </div>
              </div>
            </div>
            <hr />
            <h2><p>Especificaciones laborales</p></h2>
            <hr />
            <div class="form-row">
              <div class="col-md-4 mb-3">
                <label for="validationDefault04">Cargo</label>
                <select
                  class="custom-select"
                  [(ngModel)]="personal.cargPers"
                  name="cargPers"
                  required
                >
                  <option selected disabled value="">Selecciona...</option>
                  <option>Docente</option>
                  <option>Director</option>
                  <option>Administrativo</option>
                  <option>Conserje</option>
                </select>
              </div>
              <div class="col-md-4 mb-3">
                <label for="validationDefault04">Contrato</label>
                <select
                  class="form-control"
                  [(ngModel)]="personal.contLaboPers"
                  name="contLaboPers"
                  required
                >
                  <option selected disabled value="">Selecciona...</option>
                  <option>Nombrado</option>
                  <option>Contratado</option>
                </select>
              </div>
              <div class="form-group col-md-6">
                <label for="inputAddress2">Jornada</label>
                <input
                  type="number"
                  class="form-control"
                  [(ngModel)]="personal.jornLaboPers"
                  name="jornLaboPers"
                  id="inputPassword4"
                  required
                />
              </div>
            </div>
            <hr />
            <button
              type="submit"
              class="btn btn-primary col-md-3"
              (click)="edit ? updatePersonal() : saveNewPersonal()"
            >
              Grabar
            </button>
          </form>
        </div>
      </div>
      <!-- /.card-body -->
      <div class="card-footer">
        Footer
      </div>
      <!-- /.card-footer-->
    </div>
  </div>
  <!-- /.card -->
</section>
<!-- /.content -->
