<div class="col-md-12 table-responsive" #Reporte_Consolidado>
    <table class="tableizer-table">
    <thead>
        <tr class="tableizer-firstrow">
        <th>FORMATO 02: REPORTE  CONSOLIDADO DE INASISTENCIAS, TARDANZAS Y PERMISOS SIN GOCE DE REMUNERACIÓN</th>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
    </tr>
    </thead>
    <tbody>
     <tr>
         <td>UGEL: ANDAHUAYLAS</td>
         <td>MES: </td>
         <td>SEPTIEMBRE</td>
         <td>&nbsp;</td>
         <td>&nbsp;</td>
         <td>&nbsp;</td>
         <td>&nbsp;</td>
         <td>9</td>
         <td>&nbsp;</td>
         <td>&nbsp;</td>
         <td>AÑO:</td>
         <td>2020</td>
         <td>&nbsp;</td>
         <td>&nbsp;</td>
         <td>&nbsp;</td>
         <td>&nbsp;</td>
         <td>TURNO:</td>
         <td>&nbsp;</td>
         <td>&nbsp;</td>
         <td>{{USER.turnInst}}</td>
         <td>&nbsp;</td>
         <td>&nbsp;</td>
         <td>&nbsp;</td>
         <td>&nbsp;</td>
        </tr>
     <tr><td>INSTITUCIÓN EDUCATIVA:</td>
        <td>{{USER.nombInst}}</td>
        <td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td>
        <td>&nbsp;</td><td>&nbsp;</td>
    </tr>
     <tr><td>NIVEL EDUCATIVO Y/O MODALIDAD:</td>
        <td>{{USER.niveEduInst}}</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>LUGAR:</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>{{USER.direInst}}</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>
     <tr>
         <td>CODIGO MODULAR:</td>
        <td>{{USER.codiModuInst}}</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>REG/PROV:</td>
        <td>&nbsp;</td>
        <td>Apurímac / Andahuaylas</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td></td>
    </tr>
    </tbody>
</table>
 
    <table class="tableizer-table">
    <thead>
        <tr class="tableizer-firstrow">
            <th>N°</th>
            <th>DNI</th>
            <th>APELLIDOS Y NOMBRES</th>
            <th>CARGO</th>
            <th>CONDICION LABORAL</th>
            <th>JORNADA LABORAL</th>
            <th>&nbsp;</th>
            <th>Inasistencias</th>
            <th>&nbsp;</th>
            <th>Tardanza</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
            <th>Permisos SG</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
            <th>Huelga /Paro</th>
            <th>&nbsp;</th>
            <th>Observaciones</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
     <tr>
         <td>&nbsp;</td>
         <td>&nbsp;</td>
         <td>&nbsp;</td>
         <td>&nbsp;</td>
         <td>&nbsp;</td>
         <td>&nbsp;</td>
         <td>&nbsp;</td>
         <td>Días**</td>
         <td>&nbsp;</td>
         <td>Horas (*)</td>
         <td>Minutos(*)</td>
         <td>&nbsp;</td>
         <td>Horas (*)</td>
         <td>Minutos(*)</td>
         <td>&nbsp;</td>
         <td>Dias</td>
         <td>&nbsp;</td>
         <td>&nbsp;</td>
         <td>&nbsp;</td>
         <td>&nbsp;</td>
         <td>&nbsp;</td>
         <td>&nbsp;</td>
         <td>&nbsp;</td>
         <td>&nbsp;</td>
         <td>&nbsp;</td>
         <td>&nbsp;</td>
        </tr>
     <tr  *ngFor="let person of ELEMENT_DATA"
     ><td>1</td>
     <td>{{person.DNI}}</td>
     <td>{{person.ApellidosyNombres}}</td>
     <td>{{person.Cargo}}</td>
     <td>{{person.CondicionLaboral}}</td>
     <td>{{person.JornadaLaboral}}</td>
     <td>&nbsp;</td>
     <td>{{person.Asistencias}}</td>
     <td>&nbsp;</td>
     <td>&nbsp;0</td>
     <td>&nbsp;0</td>
     <td>&nbsp;</td>
     <td>&nbsp;0</td>
     <td>&nbsp;0</td>
     <td>&nbsp;</td>
     <td>&nbsp;0</td>
     <td>&nbsp;</td>
     <td>&nbsp;</td>
     <td>&nbsp;</td>
     <td>&nbsp;</td>
     <td>&nbsp;</td>
     <td>&nbsp;</td>
     <td>&nbsp;</td>
     <td>&nbsp;</td>
     <td>&nbsp;</td>
     <td>

     </td>
    </tr>
    </tbody>
</table>

<button (click)="exportToExcel()" class="btn btn-success">Export To Excel</button>
</div>
