<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Vacaciones</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Vacaciones</li>
          </ol>
        </div>
      </div>
    </div>
    <!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <!-- Default box -->
    <div class="container-fluid">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Lista</h3>
  
          <div class="card-tools">
            <button
              type="button"
              class="btn btn-tool"
              data-widget="collapse"
              data-toggle="tooltip"
              title="Collapse"
            >
              <i class="fa fa-minus"></i>
            </button>
            <button
              type="button"
              class="btn btn-tool"
              data-widget="remove"
              data-toggle="tooltip"
              title="Remove"
            >
              <i class="fa fa-times"></i>
            </button>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col">
              <input
                class="form-control"
                matInput
                (keyup)="applyFilter($event.target.value)"
                placeholder="Buscar Vacaciones"
              />
            </div>
          </div>
          <br />
          <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource">
              <!-- Codigo Modular Column -->
              <ng-container matColumnDef="idVaca">
                <th mat-header-cell *matHeaderCellDef>Id Vacacion</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.idVaca }}
                </td>
              </ng-container>
  
              <!-- Nombre Column -->
              <ng-container matColumnDef="idPers">
                <th mat-header-cell *matHeaderCellDef>Id Persona</th>
                <td mat-cell *matCellDef="let element">{{ element.idPers }}</td>
              </ng-container>
  
              <!-- Direccion  Column -->
              <ng-container matColumnDef="fechinicVaca">
                <th mat-header-cell *matHeaderCellDef>Fecha Inicio</th>
                <td mat-cell *matCellDef="let element">{{ element.fechinicVaca }}</td>
              </ng-container>
  
              <!-- Numero Column -->
              <ng-container matColumnDef="fechFinVaca">
                <th mat-header-cell *matHeaderCellDef>Fecha Fin</th>
                <td mat-cell *matCellDef="let element">{{ element.fechFinVaca }}</td>
              </ng-container>
  
              <!-- Nivel Column -->
              <ng-container matColumnDef="descVaca">
                <th mat-header-cell *matHeaderCellDef>Descripción</th>
                <td mat-cell *matCellDef="let element">{{ element.descVaca }}</td>
              </ng-container>

              <!-- Nivel Column -->
              <ng-container matColumnDef="motiVaca">
                <th mat-header-cell *matHeaderCellDef>Motivo</th>
                <td mat-cell *matCellDef="let element">{{ element.motiVaca }}</td>
              </ng-container>
  
              <!-- action Column -->
              <ng-container matColumnDef="ACTION">
                <th mat-header-cell *matHeaderCellDef>EDITAR</th>
                <td mat-cell *matCellDef="let element">
                  <button
                    type="button"
                    class="btn btn-outline-warning"
                    [routerLink]="['/']"
                    data-toggle="modal"
                    data-target="#ventanaModal"
                  >
                    <i class="fas fa-edit"></i>
                  </button>
                </td>
              </ng-container>
  
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            </table>
  
            <mat-paginator
              [pageSizeOptions]="[10, 20]"
              showFirstLastButtons
            ></mat-paginator>
          </div>
        </div>
        <!-- /.card-body -->
        <div class="card-footer">
          Footer
        </div>
        <!-- /.card-footer-->
      </div>
    </div>
    <!-- /.card -->
  </section>
  <!-- /.content -->
  