<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Asistencia</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Asistencia</li>
          </ol>
        </div>
      </div>
    </div>
    <!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <!-- Default box -->
    <div class="container-fluid">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Consultar</h3>
  
          <div class="card-tools">
            <button
              type="button"
              class="btn btn-tool"
              data-widget="collapse"
              data-toggle="tooltip"
              title="Collapse"
            >
              <i class="fa fa-minus"></i>
            </button>
            <button
              type="button"
              class="btn btn-tool"
              data-widget="remove"
              data-toggle="tooltip"
              title="Remove"
            >
              <i class="fa fa-times"></i>
            </button>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col">
              <input
                class="form-control"
                matInput
                (keyup)="applyFilter($event.target.value)"
                placeholder="Buscar Asistencia"
              />
            </div>
          </div>
          <br />
          <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource">
              <!-- Codigo Modular Column -->
              <ng-container matColumnDef="idAsis">
                <th mat-header-cell *matHeaderCellDef>DNI</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.dniPers }}
                </td>
              </ng-container>
  
              <!-- Nombre Column -->
              <ng-container matColumnDef="idPers">
                <th mat-header-cell *matHeaderCellDef>Nombre</th>
                <td mat-cell *matCellDef="let element">{{ element.ApellidosyNombres }}</td>
              </ng-container>
  
              <!-- Numero Column -->
              <ng-container matColumnDef="estaAsis">
                <th mat-header-cell *matHeaderCellDef>Estado</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.estaAsis }}
                </td>
              </ng-container>
  
              <!-- Nivel Column -->
              <ng-container matColumnDef="fechAsis">
                <th mat-header-cell *matHeaderCellDef>Fecha</th>
                <td mat-cell *matCellDef="let element">{{element.fechAsis | date: 'dd/MM/yyyy'}}</td>
              </ng-container>
  
              <!-- action Column -->
              <ng-container matColumnDef="ACTION">
                <th mat-header-cell *matHeaderCellDef>EDITAR</th>
                <td mat-cell *matCellDef="let element">
                  <button
                    type="button"
                    class="btn btn-warning"
                    data-toggle="modal"
                    data-target="#asistenciaModal"
                    (click)="obtenerAsistencia(element.idAsis, element.fechAsis, element.estaAsis, element.idInst, element.idPers)"
                  >
                    <i class="fas fa-edit"></i>
                  </button>
                </td>
              </ng-container>
  
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            </table>
  
            <mat-paginator
              [pageSizeOptions]="[10, 20]"
              showFirstLastButtons
            ></mat-paginator>
          </div>
        </div>
        <!-- /.card-body -->
        <div class="card-footer">
          Footer
        </div>
        <!-- /.card-footer-->
      </div>
    </div>
    <!-- /.card -->
  </section>
  <!-- /.content -->
  
  <!-- Modal Asistencia -->
<div class="modal fade" id="asistenciaModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="exampleModalCenterTitle">Asistencia</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="alert">
          <main class="container">
            <form>
                <div class="form-group col-md-12">
                  <label for="inputEmail4">Id Asistencia</label>
                  <input disabled type="number" class="form-control"  value="{{asistencia.idAsis}}" required>                  
                </div>
                <div class="form-group col-md-12">
                  <label >Fecha</label>
                  <input type="datetime" name="fecha" class="form-control" placeholder="" value="{{asistencia.fechAsis}}" disabled required>
                </div>
                <div class="form-group col-md-12">
                  <label for="inputPassword4">Estado</label>
                  <select class="custom-select" (change)="modAsistencia()" required>
                    <option *ngIf="asistencia.estado == '1'" selected value="1">Asistió</option>
                    <option *ngIf="asistencia.estado == '0'" selected value="0">No asistió</option>
                    <option *ngIf="asistencia.estado == '0'"  value="1">Asistió</option>
                    <option *ngIf="asistencia.estado == '1'"  value="0">No asistió</option>
                  </select>
                </div>
                
                <!--
                <div class="form-group" >
                      <input type="date" name="bday" max="3000-12-31" min="1000-01-01" class="form-control">
                </div>
                -->
            </form>
         </main>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" (click)="modificarAsistencia()" data-dismiss="modal">Guardar</button>
      </div>
    </div>
  </div>
</div>