<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Tardanza</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Tardanza</li>
          </ol>
        </div>
      </div>
    </div>
    <!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <!-- Default box -->
    <div class="container-fluid">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Consulta</h3>
  
          <div class="card-tools">
            <button
              type="button"
              class="btn btn-tool"
              data-widget="collapse"
              data-toggle="tooltip"
              title="Collapse"
            >
              <i class="fa fa-minus"></i>
            </button>
            <button
              type="button"
              class="btn btn-tool"
              data-widget="remove"
              data-toggle="tooltip"
              title="Remove"
            >
              <i class="fa fa-times"></i>
            </button>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col">
              <input
                class="form-control"
                matInput
                (keyup)="applyFilter($event.target.value)"
                placeholder="Buscar Tardanza"
              />
            </div>
          </div>
          <br />
          <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource">
  
              <!-- Direccion  Column -->
              <ng-container matColumnDef="horaTard">
                <th mat-header-cell *matHeaderCellDef>Hora</th>
                <td mat-cell *matCellDef="let element">{{element.horaTard}}</td>
              </ng-container>
  
              <!-- Numero Column -->
              <ng-container matColumnDef="minuTard">
                <th mat-header-cell *matHeaderCellDef>Minuto</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.minuTard }}
                </td>
              </ng-container>
  
              <!-- Nivel Column -->
              <ng-container matColumnDef="fechaTard">
                <th mat-header-cell *matHeaderCellDef>Fecha</th>
                <td mat-cell *matCellDef="let element">{{element.fechaTard | date: 'dd/MM/yyyy'}}</td>
              </ng-container>
  
              <!-- action Column -->
              <ng-container matColumnDef="ACTION">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let element">
                  <!--
                  <button
                    type="button"
                    class="btn btn-warning"
                    [routerLink]="['/']"
                    data-toggle="modal"
                    data-target="#ventanaModal"
                  >
                    <i class="fas fa-edit"></i>
                  </button>
                  -->
                </td>
              </ng-container>
  
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            </table>
  
            <mat-paginator
              [pageSizeOptions]="[10, 20]"
              showFirstLastButtons
            ></mat-paginator>
          </div>
          
        </div>
        <!-- /.card-body -->
        <div class="card-footer">
          Footer
        </div>
        <!-- /.card-footer-->
      </div>
    </div>
    <!-- /.card -->
  </section>
  <!-- /.content -->

