<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Asistencia</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Asistencia</li>
          </ol>
        </div>
      </div>
    </div>
    <!-- /.container-fluid -->
  </section>
  
  <!-- Main content -->
  <section class="content">
    <!-- Default box -->
    <div class="container-fluid">
      <div class="card">
        <div class="card-body">
          <div class="md-form md-outline input-with-post-icon datepicker">
            <input placeholder="Select date" type="date" id="example" [(ngModel)]="asistencia.fechAsis" class="form-control" >
            <label for="example">Selecciona una fecha</label>
          </div>
          <!--
          <mat-form-field color="accent" appearance="fill">
            <mat-label>Fecha</mat-label>
            <input matInput [matDatepicker]="picker1"  [(ngModel)]="asistencia.fechAsis"/>
            <mat-datepicker-toggle
              matSuffix
              [for]="picker1"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
          </mat-form-field>
          -->
          <hr />
          <div class="row">
            <div class="col">
              <input
                class="form-control"
                matInput
                (keyup)="applyFilter($event.target.value)"
                placeholder="Buscar Personal"
              />
            </div>
          </div>
          <br />
          <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource">
              <ng-container matColumnDef="dniPers">
                <th mat-header-cell *matHeaderCellDef>DNI</th>
                <td mat-cell *matCellDef="let element">{{ element.dniPers }}</td>
              </ng-container>
              <ng-container matColumnDef="nombPers">
                <th mat-header-cell *matHeaderCellDef>Nombres</th>
                <td mat-cell *matCellDef="let element">{{ element.nombPers }}</td>
              </ng-container>
              <ng-container matColumnDef="apelPatePers">
                <th mat-header-cell *matHeaderCellDef>Apellido Paterno</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.apelPatePers }}
                </td>
              </ng-container>
              <ng-container matColumnDef="apelMatePers">
                <th mat-header-cell *matHeaderCellDef>Apellido Materno</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.apelMatePers }}
                </td>
              </ng-container>
  
              <ng-container matColumnDef="ACTION">
                <th mat-header-cell *matHeaderCellDef>
                  Status
                  <!--
                  <select class="custom-select" required>
                    <option selected value="">All Asistió</option>
                    <option>All Tarde</option>
                    <option>All Permiso</option>
                    <option>All Licencia</option>
                    <option>All No asistió</option>
                  </select>
                  -->
                </th>
                <td mat-cell *matCellDef="let element">
                  <select class="custom-select" (change)="tardanzas(element.idPers)" required>
                    <option selected value="asistio">Asistió</option>
                    <!--
                    <option value="tarde">Tarde</option>
                    <option value="permiso">Permiso</option>
                    <option value="licencia">Licencia</option>
                    -->
                    <option value="noasistio">No asistió</option>
                  </select>
                </td>
              </ng-container>
              <ng-container matColumnDef="tardanza">
                <th mat-header-cell *matHeaderCellDef>Tardanza</th>
                <td mat-cell *matCellDef="let element">
                  <button type="button" class="btn btn-outline-warning" (click)="obternerTardanza(element.idPers, element.dniPers)"
                    data-toggle="modal" data-target="#tardanzaModal">
                    <i class="fas fa-clock"></i>
                  </button>
                </td>
              </ng-container>
              <ng-container matColumnDef="permiso">
                <th mat-header-cell *matHeaderCellDef>Permiso</th>
                <td mat-cell *matCellDef="let element">
                  <button type="button" class="btn btn-outline-primary" (click)="obternerPermiso(element.idPers, element.dniPers)"
                    data-toggle="modal" data-target="#permisoModal">
                    <i class="fas fa-parking"></i>
                  </button>
                </td>
              </ng-container>
  
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            </table>
          </div>
          <hr />
          <button class="btn btn-primary col-md-4" type="submit" (click)="guardarAsistencia()">
            Grabar
          </button>

        </div>
        <!-- /.card-body -->
        <div class="card-footer">
          Footer
        </div>
        <!-- /.card-footer-->
      </div>
    </div>
    <!-- /.card -->
  </section>
  <!-- /.content -->

<!-- Modal Tardanza -->
<div class="modal fade" id="tardanzaModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="exampleModalCenterTitle">Tardanza</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="alert">
          <main class="container">
            <form>
                <div class="form-group col-md-12">
                  <label for="inputEmail4">DNI</label>
                  <input disabled type="number" class="form-control" value="{{personal.dniPers}}" required>                  
                </div>
                <div class="form-group col-md-12">
                  <label >Hora Tardanza</label>
                  <input type="number" min="0" max="7" [(ngModel)]="tardanza.horaTard" name="tarde" class="form-control" placeholder="Ejm: 2" required>
                </div>
                <div class="form-group col-md-12">
                  <label for="inputPassword4">Minuto Tardanza</label>
                  <input type="number" min="0" max="59" [(ngModel)]="tardanza.minuTard" name="tarde" class="form-control" placeholder="Ejm: 15">
                </div>
                
                <!--
                <div class="form-group" >
                      <input type="date" name="bday" max="3000-12-31" min="1000-01-01" class="form-control">
                </div>
                -->
            </form>
         </main>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" (click)="registrarTardanza()" data-dismiss="modal">Guardar</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Permiso -->
<div class="modal fade" id="permisoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="exampleModalCenterTitle">Permiso</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="alert">
          <main class="container">
            <form>
                <div class="form-group col-md-12">
                  <label for="inputEmail4">DNI</label>
                  <input disabled type="number" class="form-control" value="{{personal.dniPers}}" required>                  
                </div>
                <div class="form-group col-md-12">
                  <label >Hora Permiso</label>
                  <input type="number" min="0" max="7" [(ngModel)]="permiso.horaPerm" name="tarde" class="form-control" placeholder="Ejm: 2" required>
                </div>
                <div class="form-group col-md-12">
                  <label for="inputPassword4">Minuto Permiso</label>
                  <input type="number" min="0" max="59" [(ngModel)]="permiso.minutoPerm" name="tarde" class="form-control" placeholder="Ejm: 15">
                </div>
                <div class="form-group col-md-12">
                  <label >Motivo</label>
                  <input type="text" [(ngModel)]="permiso.motiPerm" name="tarde" class="form-control" placeholder="Ejm: Salud" required>
                </div>
                <div class="form-group col-md-12">
                  <label >Observación</label>
                  <input type="text" [(ngModel)]="permiso.obsePerm" name="tarde" class="form-control" placeholder="Ejm: Cita en el hospital" required>
                </div>
                <!--
                <div class="form-group" >
                      <input type="date" name="bday" max="3000-12-31" min="1000-01-01" class="form-control">
                </div>
                -->
            </form>
         </main>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" (click)="registrarPermiso()" data-dismiss="modal">Guardar</button>
      </div>
    </div>
  </div>
</div>