<!-- Content Header (Page header) -->
<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Institución</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active">Institución</li>
        </ol>
      </div>
    </div>
  </div>
  <!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
  <!-- Default box -->
  <div class="container-fluid">
    <div class="card">
      <div class="card-header">
        <button
          class="btn btn-secondary col-md-2"
          type="submit"
          [routerLink]="['/institucion/list']"
        >
          Cancelar
        </button>
        <div class="card-tools">
          <button
            type="button"
            class="btn btn-tool"
            data-widget="collapse"
            data-toggle="tooltip"
            title="Collapse"
          >
            <i class="fa fa-minus"></i>
          </button>
          <button
            type="button"
            class="btn btn-tool"
            data-widget="remove"
            data-toggle="tooltip"
            title="Remove"
          >
            <i class="fa fa-times"></i>
          </button>
        </div>
      </div>
      <div class="card-body">
        <!-- Empieza el formulario-->
        <div class="container">
          <form>
            <h2><p>Datos de Identificación</p></h2>
            <hr />
            <div class="form-row">
              <div class="col-md-6 mb-3">
                <label for="validationDefault01"
                  >Nombre de la Instutución</label
                >
                <input
                  type="text"
                  [(ngModel)]="institucion.nombInst"
                  name="nombInst"
                  class="form-control"
                  maxlength="100"
                  id="validationDefault01"
                  placeholder=""
                  required
                />
              </div>

              <div class="col-md-3 mb-3">
                <label for="validationDefault05">Codigo Modular</label>
                <input
                  type="number"
                  [(ngModel)]="institucion.codiModuInst"
                  name="codiModuInst"
                  class="form-control"
                  max="99999999"
                  required
                />
              </div>
              <div class="col-md-3 mb-3">
                <label for="validationDefault05">Número</label>
                <input
                  type="number"
                  [(ngModel)]="institucion.numeInst"
                  name="numeInst"
                  class="form-control"
                  id="validationDefault05"
                  required
                />
              </div>
            </div>
            <hr />
            <h2><p>Datos de Ubicación</p></h2>
            <hr />
            <div class="form-row">
              <div class="col-md-4 mb-3">
                <label for="validationDefault04">Departamento</label>
                <select
                  class="custom-select"
                  [(ngModel)]="selectedRegion.id"
                  name="region"
                  (change)="onSelectRegion($event.target.value)"
                  required
                >
                  <!--<option selected disabled value="">Choose...</option>-->
                  <option
                    *ngFor="let region of regiones"
                    value="{{ region.id }}"
                    >{{ region.name }}</option
                  >
                </select>
              </div>
              <div class="col-md-4 mb-3" *ngIf="provincias?.length > 0">
                <label for="validationDefault04">Provincia</label>
                <select
                  class="custom-select"
                  [(ngModel)]="selectedProvincia.id"
                  name="provincia"
                  (change)="onSelectProvincia($event.target.value)"
                  required
                >
                  <!--<option selected disabled value="">Choose...</option>-->
                  <option
                    *ngFor="let provincia of provincias"
                    value="{{ provincia.id }}"
                    >{{ provincia.name }}</option
                  >
                </select>
              </div>
              <div class="col-md-4 mb-3" *ngIf="distritos?.length > 0">
                <label for="validationDefault04">Distrito</label>
                <select
                  class="custom-select"
                  [(ngModel)]="institucion.idDist"
                  name="idDist"
                  required
                >
                  <!--<option selected disabled value="">Choose...</option>-->
                  <option
                    *ngFor="let distrito of distritos"
                    value="{{ distrito.id }}"
                    >{{ distrito.name }}</option
                  >
                </select>
              </div>
              <div class="col-md-12 mb-3">
                <label for="validationDefault01">Dirección</label>
                <input
                  type="text"
                  [(ngModel)]="institucion.direInst"
                  name="direInst"
                  class="form-control"
                  id="validationDefault01"
                  placeholder=""
                  required
                />
              </div>
            </div>
            <hr />
            <h2><p>Datos Académicos</p></h2>
            <hr />
            <div class="form-row">
              <div class="col-md-4 mb-3">
                <label for="validationDefault04">Nivel</label>
                <select
                  class="custom-select"
                  [(ngModel)]="institucion.niveEduInst"
                  name="niveEduInst"
                  required
                >
                  <option selected disabled value="">Selecciona...</option>
                  <option>Inicial</option>
                  <option>Primaria</option>
                  <option>Secundaria</option>
                  <option>Instituto</option>
                </select>
              </div>
              <div class="col-md-4 mb-3">
                <label for="validationDefault04">Modalidad</label>
                <select
                  class="custom-select"
                  [(ngModel)]="institucion.modaInst"
                  name="modaInst"
                  required
                >
                  <option selected disabled value="">Selecciona...</option>
                  <option>EBR</option>
                  <option>EBA</option>
                  <option>JEC</option>
                </select>
              </div>
              <div class="col-md-4 mb-3">
                <label for="validationDefault04">Turno</label>
                <select
                  class="custom-select"
                  [(ngModel)]="institucion.turnInst"
                  name="turnInst"
                  required
                >
                  <option selected disabled value="">Selecciona...</option>
                  <option>Mañana</option>
                  <option>Tarde</option>
                  <option>Noche</option>
                </select>
              </div>
            </div>
            <hr />
            <button
              class="btn btn-primary col-md-3"
              type="submit"
              (click)="edit ? updateInstitucion() : SaveNewInstitucion()"
            >
              Grabar
            </button>
          </form>
        </div>
      </div>
      <!-- /.card-body -->
      <div class="card-footer">
        Footer
      </div>
      <!-- /.card-footer-->
    </div>
  </div>
  <!-- /.card -->
</section>
<!-- /.content -->
