
.bg-t{
        background: #0D6712;
        color: white;
}


.table-striped{
background: white;
}
.num{
 text-align: center;
 width: 1px;
}
.dnipersonal{
    width: 10px;
   
}
.Nombres{
    text-align: center;
    width: 15%;
  
    
}
.cargos{
    text-align: center;
    width: 10px;
  
}
.clab{
    text-align: center;
    width: 10px;
}
.jr{
    text-align: center;
    width: 10px;
}
