<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>Reportes</title>
</head>
<body>

    <div class="container">                    
    <form>
        <div class="form-group row">
          <label for="imputUgel" class="col-sm-2 col-form-label">UGEL</label>
          <div class="col-sm-2">
            <input type="text" class="form-control" placeholder="Andahuaylas" value="">
          </div>
          <label for="imputUgel" class="col-sm-0 col-form-label">Mes</label>
          <div class="col-sm-2">
            <input type="text" class="form-control" placeholder="Enero" value="">
          </div>
          <label for="imputUgel" class="col-sm-0 col-form-label">AÑO</label>
          <div class="col-sm-2">
            <input type="text" class="form-control" placeholder="2019" value="">
          </div>
          <label for="imputUgel" class="col-sm-0 col-form-label">TURNO</label>
          <div class="col-sm-2">
            <input type="text" class="form-control" placeholder="MAÑANA" value="">
          </div>
        </div>
        <div class="form-group row">
          <label for="inputInstitucion" class="col-sm-2 col-form-label">Institución Educativa</label>
          <div class="col-sm-2">
            <input type="text" class="form-control" placeholder="Juan Espinoza Medrano" value="">
          </div>
        </div>
        <div class="form-group row">
            <label for="inputNivelEdu" class="col-sm-2 col-form-label">Nivel Educativo</label>
            <div class="col-sm-2">
              <input type="text" class="form-control" placeholder="primaria" value="">
            </div>
            <label for="inputNivelEdu" class="col-sm-0 col-form-label">Lugar:</label>
            <div class="col-sm-2">
              <input type="text" class="form-control" placeholder="primaria" value="">
            </div>
          </div>
          <div class="form-group row">
            <label for="inputCodiMod" class="col-sm-2 col-form-label">Codigo Modular</label>
            <div class="col-sm-2">
             <input type="text" class="form-control" placeholder="0574780" value="">
            </div>
            <label for="inputNivelEdu" class="col-sm-0 col-form-label">REG/PROV/DIST:</label>
            <div class="col-sm-4">
              <input type="text" class="form-control" placeholder="AUPURIMAC/ANDAHUAYLAS/PACUCHA" value="">
            </div>
          </div>
      </form>
    </div>  
    <table class="table table-striped">  
        <thead>
          <tr class="bg-t">
            <th class="num" scope="col">N</th>
            <th class="dnipersonal" scope="col">DNI</th>
            <th class="Nombres" scope="col">Apellidos y Nombres</th>
            <th class="cargos" scope="col">Cargo</th>
            <th class="clab" scope="col">Condicion Laboral</th>
            <th class="jr" scope="col">Jornada Laboral</th>
            <th class="1" scope="col">1</th>
            <th class="2" scope="col">2</th>
            <th class="3" scope="col">3</th>
            <th class="4" scope="col">4</th>
            <th class="5" scope="col">5</th>
            <th class="6" scope="col">6</th>
            <th class="7" scope="col">7</th>
            <th class="8" scope="col">8</th>
            <th class="9" scope="col">9</th>
            <th class="10" scope="col">10</th>
            <th class="11" scope="col">11</th>
            <th class="12" scope="col">12</th>
            <th class="13" scope="col">13</th>
            <th class="14" scope="col">14</th>
            <th class="15" scope="col">15</th>
            <th class="16" scope="col">16</th>
            <th class="17" scope="col">17</th>
            <th class="18" scope="col">18</th>
            <th class="19" scope="col">19</th>
            <th class="20" scope="col">20</th>
            <th class="21" scope="col">21</th>
            <th class="22" scope="col">22</th>
            <th class="23" scope="col">23</th>
            <th class="24" scope="col">24</th>
            <th class="25" scope="col">25</th>
            <th class="26" scope="col">26</th>
            <th class="27" scope="col">27</th>
            <th class="28" scope="col">28</th>
            <th class="29" scope="col">29</th>
            <th class="30" scope="col">30</th>
            <th class="31" scope="col">31</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>77225399</td>
            <td>Vargas Vargas Raul</td>
            <td>Docente</td>
            <td>Nombrado</td>
            <td>20</td>
            <td>A</td>
            <td>A</td>
            <td>A</td>
            <td>A</td>
            <td>A</td>
            <td>A</td>
            <td>A</td>
            <td>A</td>
            <td>A</td>
            <td>A</td>
            <td>A</td>
            <td>A</td>
            <td>A</td>
            <td>A</td>
            <td>A</td>
            <td>A</td>
            <td>A</td>
            <td>A</td>
            <td>A</td>
            <td>A</td>
            <td>A</td>
            <td>A</td>
            <td>A</td>
            <td>A</td>
            <td>A</td>
            <td>A</td>
            <td>A</td>
            <td>A</td>
            <td>A</td>
            <td>A</td>
            <td>A</td>
          </tr>
        </tbody>
      </table>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>  
</body>
</html>