table {
    width: 100%;
}
mat-form-field {
    margin-right: 12px;
}
//esto es para la cabecera de la tabla
.mat-header-row:nth-child(odd){
    background-color:#99fc28;
}
//esto es para pintar cuando esta encima
  //.mat-row:hover {
  //  background-color:#40C4FF;
  //}
//esto son para los campos de entrada
input{
    background:#f7f6dd;
}
//esto es para la cabecera general
  //section{
  //  background:#42A5F5;
  //}
//esto es para uno si uno no impar
.mat-row:nth-child(odd){
    background-color:hsl(125, 100%, 96%);
}

option{
    background:#90CAF9;
}
//Esto es para uno si uno no par
.mat-row:nth-child(even){
    background-color: #d2ff9f;
}